/*Formatação Geral */

.home-container {
    width: 100%;
    height: 100vh;
    display: table;
    position: relative;
    overflow-x: hidden;
}

.home-container::after {
    content: "";
    /*background: url(/img/bg-home.png);*/
    /*background-size: cover;*/
    background-color: #fff;
    opacity: 00;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


/*Barra de Navegação */
.navbar {
    height: 55px;
    margin: 0 auto;
    background-color: #fff;
}

.container-fluid {
    background-color: #fff;
}

.navbar-brand img {
    margin-left: 175px;
    margin-bottom: 0px;
    margin-top: 45px;
}

.navbar-nav {
    font-size: 16px;
    font-weight: bold;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.nav-item {
    padding-right: 70px;
    cursor: pointer;

}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #2541b2;
}



.collapse .navbar-nav {
    margin-left: 15px;
}

.navbar-toggler {
    margin-top: 2px;
    outline: none;
    border: none;
    box-shadow: none;
}

/*Customização da Header*/
.home-header {
    margin-top: 150px;
}

#icones {
    margin-top: 50px;
}

#icones i {
    font-size: 40px;
    text-align: center;
}

/*Botão Header */
.button-header .btn {
    background: #3a86ff;
    border-radius: 50px;
    border: none;
    text-align: center;
    margin-top: 20px;
    width: 240px;
    height: 60px;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    padding: 20px 20px;
}

.button-header .btn:hover {
    background: #314cb6;
    color: #fff;
}

/* Barra de navegação teste */

.botao-flutuante {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 51%;
    left: 49%;
    border-radius: 50px;
    z-index: 1000;
}



.bi-columns-gap {
    font-size: 25px;
    position: absolute;
    color: #000;
}


div.cap {
    border-bottom: 100px solid rgba(54, 52, 52, 0.25);
    border-bottom-width: 35px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}

div.cap.left {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

div.cap.right {
    position: absolute;
    top: 0px;
    right: 0px;
}

ul.osx-dock {
    display: inline-block;
    height: 130px;
    overflow: hidden;
    margin: 0 0 0 40px;
}

ul.osx-dock li {
    display: block;
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin: 60px 0 4px 0;
    -webkit-transition: 0.15s linear;
    -webkit-transition-property: -webkit-transform margin;
    text-align: center;
}

ul.osx-dock li a {
    display: block;
    height: 50px;
    padding: 0 1px;
    -webkit-transition: 0.15s linear;
    -webkit-transition-property: -webkit-transform margin;
    margin: 0;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent),
            color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
}

ul.osx-dock li a img {
    width: 48px;
}

ul.osx-dock li:hover {
    z-index: 200;
}

ul.osx-dock li:hover a {
    -webkit-transform-origin: center bottom;
    -webkit-transform: scale(1.5);
}

ul.osx-dock li.nearby {
    margin-left: 6px;
    margin-right: 6px;
    z-index: 100;
}

ul.osx-dock li.nearby a {
    -webkit-transform-origin: center bottom;
    -webkit-transform: scale(1.25);
}

ul.osx-dock li span {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 80px;
    margin: 0 auto;
    display: none;
    width: auto;
    font-size: 11px;
    font-weight: bold;
    padding: 8px 6px;
    -webkit-border-radius: 6px;
    color: #fff;
}

ul.osx-dock li:hover span {
    display: block;
}

div#dockContainer {
    position: fixed;
    bottom: 12px;
    height: 120px;
    padding: 50px 0 0;
    /*ext-align: center;*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    width: 100%;
    line-height: 1;
    z-index: 100;
    right: 67%;
    left: 33%;
    transition-delay: 0.5s
}

div#dockWrapper {
    width: auto;
    display: inline-block;
    position: relative;
    line-height: 0;
}

#dockContainer,
#dockContainer * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Section Sobre nós */
#sobre_nos {
    width: 100%;
    background-color: #2541b2;
    color: #fff;
    display: table;
    padding: 150px 90px 150px 90px;
}


#sobre_nos h2 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 70px;
    font-size: 30px;
}

#sobre_nos h2::after {
    content: '';
    width: 60px;
    height: 3px;
    background: currentColor;
    display: block;
    margin: 10px auto;
}


/* Section Missão, Visão, Valores */

#mvv {
    margin-top: 100px;
}

#mvv h4 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 40px;
    margin-top: 50px;
}

#mvv h4::after {
    content: '';
    width: 60px;
    height: 3px;
    background: currentColor;
    display: block;
    margin: 10px auto;
}


#box {
    border: 1px solid #fff;
    margin-bottom: 50px;
}


#mvv p {
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 35px;
}


#mvv img {
    width: 60px;
    margin: auto;
    margin-bottom: 40px;
    display: block;
}


/* Section Serviços */

#servicos {
    padding-top: 90px;
    padding-bottom: 100px;
    background-color: #fff;
    color: #000;
    display: table;
    width: 100vw;
}

#servicos h2 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 60px;
    font-size: 30px;
}

#servicos h2::after {
    content: '';
    width: 60px;
    height: 3px;
    background: currentColor;
    display: block;
    margin: 10px auto;
}


.carousel-item {
    margin-top: 50px;
    width: 100%;
}

.carousel-text {
    text-align: center;
    font-weight: bolder;
    width: 500px;
    margin: 0 auto;
    margin-top: 25px;
    float: none;
    font-size: 18px;
}

.carousel-text p {
    margin: 0 auto;
    margin-top: 25px;
    float: none;
    width: 350px;
}


.carousel-item .btn {
    margin: 0 auto;
    float: none;
    margin-top: 15px;
    background: #2541b2;
    color: #fff;
    border: none;
}


/* Section Contato */

#contato {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2541b2;
    color: #fff;
    display: table;
    width: 100vw;
}

#contato h2 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 70px;
    font-size: 30px;
}

#contato h2::after {
    content: '';
    width: 60px;
    height: 3px;
    background: currentColor;
    display: block;
    margin: 10px auto;
}

#contato .bi {
    font-size: 35px;
    color: #fff;
}


/* Responsividade */

 /* Telas muito pequena  (celular) */
 @media only screen and (max-width: 600px) {
     /*Barra de navegação */
     .navbar {
        height: 90px;
        margin: 0 auto;
    }

    .navbar-brand img {
        margin-left: 5px;
        margin-top: 4px;
    }

    /* Header */
    .home-header {
        margin-top: 50px;
    }

    #logo-header {
        width: 250px;
        height:250px;
    }

    #icones i{
        font-size: 25px;
        display: flex;
        margin-left: auto;
        margin-right: auto; 
    }

    #titulos-icon h6{
        font-size: 15px;
    }

    #icones .bi-envelope {
        margin-left: 10px;
    }

    #icones .bi-calendar2-week{
        margin-left: 18px;
    }

    #icones 

    #icones .bi-headset{
        margin-right: 40px;
    }





    










    
 }

 /* Telas Pequena (tablets e celular maiores) */
 @media only screen and (min-width: 600px) {...}
 
 /* Telas pequena (tablets, 768px) */
 @media only screen and (min-width: 768px) {...}
 
 /* Telas grandes (computadores e notbook, 992px) */
 @media only screen and (min-width: 992px) {...}
 
 /* Tela muito grande (computadores e notbook, 1200px) */
 @media only screen and (min-width: 1200px) {...} 


