/*Formatação Geral */

.home-container{
    width: 100%;
    height: 100vh;
    display: table;
    position: relative;
    overflow-x: hidden;
}
  
.home-container::after {
    content: "";
    background: url(/img/bg-home.png);
    background-size: cover;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}


/*Barra de Navegação */
.navbar{
    height: 55px;
    margin: 0 auto;
    background-color: #fff;
}

.container-fluid {
    background-color: #fff;
}

.navbar-brand img{
    margin-left: 175px;
    /*margin-top: 30px;*/
    /*margin-bottom: 15px;*/
    margin-bottom: 0px;
    margin-top: 45px;
}

.navbar-nav {
    font-size: 16px;
    font-weight: bold; 
    margin-right: 150px; 
    margin-top: 30px;
    margin-bottom: 15px;
}

.nav-item {
    padding-right: 70px;
    cursor: pointer;

}

.nav-link{
    color:black;
}

.nav-link:hover{
    color:#2541b2;
}



.collapse .navbar-nav {
    margin-left: 15px;
}

.navbar-toggler{
    margin-top: 2px;
    outline: none;
    border: none;
    box-shadow: none;
}

/*Customização da Header*/
.home-header{
    margin-top: 150px;
}

#icones{
    margin-top: 50px;
}

#icones i{
    font-size: 40px;
    text-align:center;
}

/*Botão Header */
.button-header .btn{
    background:  #3a86ff;
    border-radius: 50px;
    border: none;
    text-align: center;
    margin-top: 20px;
    width: 240px;
    height: 60px;
    color: #fff;	
    font-weight: bolder;
    cursor: pointer;
    padding: 20px 20px;
}

.button-header .btn:hover {
    background: #314cb6;
    color: #fff;
}


/* Section Sobre nós */
#sobre_nos {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #314cb6;
    color: #fff;
    display: table;
    width: 100vw;   
}

#sobre_nos h2 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 40px;
    font-size: 30px;
}

#sobre_nos h2::after{
    content: '';
    width: 60px;
    height: 3px;
    background: currentColor;
    display: block;
    margin: 10px auto;
}

/* Section Contato */

#contato{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e7ecef;
    display: table;
    width: 100vw;   
}

#contato h2 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 40px;
    font-size: 30px;
}

#contato h2::after{
    content: '';
    width: 60px;
    height: 3px;
    background: currentColor;
    display: block;
    margin: 10px auto;
}









/* Responsividade */

@media  screen and (min-width: 320px){ 
    .home-container::after {
        content: "";
        background: url(/img/bg-home.png);
        background-position: center;
        background-size: cover;
        opacity: 0.6;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }
    
    
    .navbar{
        height: 90px;
        margin: 0 auto;
    }

    .navbar-brand img{
        margin-left: 5px;
        margin-top: 4px;
    }

    .home-header {
        margin-top: 30px;
    }

    .button-header .btn{
        background:  #3a86ff;
        border-radius: 50px;
        border: none;
        text-align: center;
        margin-top: 20px;
        width: 200px;
        height: 60px;
        color: #fff;	
        font-weight: bolder;
        cursor: pointer;
        padding: 20px 20px;
    }
    
}

@media  screen and (min-width: 768px) and (max-width: 1024px){ 
    .home-container::after {
        content: "";
        background: url(/img/bg-home.png);
        background-position: center;
        background-size: cover;
        opacity: 0.6;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }
    
    
    .navbar{
        height: 90px;
        margin: 0 auto;
    }

    .navbar-brand img{
        margin-left: 15px;
        margin-top: 10px;
    }

    .navbar-nav {
        font-size: 15px;
        font-weight: bold;
        margin-right: 50px;
    }
    
    .nav-item {
        padding-right: 30px;
        cursor: pointer;
    
    }

    .home-header {
        margin-top: 30px;
    }

    .button-header .btn{
        background:  #3a86ff;
        border-radius: 50px;
        border: none;
        text-align: center;
        margin-top: 20px;
        width: 200px;
        height: 60px;
        color: #fff;	
        font-weight: bolder;
        cursor: pointer;
        padding: 20px 20px;
    }

}

@media  screen and (min-width: 1024px){ 
    .home-container::after {
        content: "";
        background: url(/img/bg-home.png);
        background-position: center;
        background-size: cover;
        opacity: 0.6;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }
    
    .navbar{
        height: 55px;
        margin: 0 auto;
    }

    .navbar-brand img{
        margin-left: 50px;
        margin-top: 10px;
    }

    .navbar-nav {
        font-size: 15px;
        font-weight: bold;
        margin-left: 30px;
    }
    
    .nav-item {
        padding-right: 20px;
        cursor: pointer;
    
    }

    .home-header {
        margin-top: 130px;
    }

    .button-header .btn{
        background:  #3a86ff;
        border-radius: 50px;
        border: none;
        text-align: center;
        margin-top: 20px;
        width: 200px;
        height: 60px;
        color: #fff;	
        font-weight: bolder;
        cursor: pointer;
        padding: 20px 20px;
    }

}





